{% load static %}
<article class="card mb-3 w-100">
	<div class="row g-0">
		<div class="col-3 p-2">
			<div class="border w-100 mb-3" style="height: 100px">
				<img
						src="{% static 'img/avatar.jpg' %}"
						class="img-fluid rounded-start"
						alt="avatar"
						style="width:100%; height: 100%"
				/>
			</div>
			<div class="d-flex justify-content-center">
				<button class="btn btn-block btn-primary"><i class="fa fa-thumbs-up">Like</i></button>
				<span class="badge ms-2"
					  style="background-color: #f8f9fa; border: 1px solid #007bff; color: #007bff; padding: 0.5em 1em; border-radius: 0.25em; display: flex; align-items: center; justify-content: center;">
    				{{ item.like_number }} Likes
				</span>
			</div>
		</div>
		<div class="col">
			<div class="card-body h-100 d-flex flex-column justify-content-between">
				<p class="card-text">
					{{ item.text }}
				</p>
				<div class="form-check">
					<input class="form-check-input border-1 border-dark" type="checkbox" value="" {% if item.is_correct %}checked{% endif %}>
					<label class="form-check-label" >
						Correct!
					</label>
				</div>
			</div>
		</div>
	</div>
</article>

