{% load static %}
<div class="row mb-4">
	<div class="col-2">
		<h4>Login</h4>
	</div>
	<div class="col-8">
		<input type="text" class="form-control form-control-lg border-dark" maxlength="100"
			   placeholder="{{ login_placeholder }}" required>
	</div>
</div>

<div class="row mb-4">
	<div class="col-2">
		<h4>Email</h4>
	</div>
	<div class="col-8">
		<input type="text" class="form-control form-control-lg border-dark" maxlength="100"
			   placeholder="{{ email_placeholder }}" required>
	</div>
</div>

<div class="row mb-5">
	<div class="col-2">
		<h4>NickName</h4>
	</div>
	<div class="col-8">
		<input type="text" class="form-control form-control-lg border-dark" maxlength="100"
			   placeholder="{{ nickname_placeholder }}" required>
	</div>
</div>