{% extends "layouts/base.html" %}
{% load static %}


{% block content %}
	<div class="d-flex gap-3 align-items-center">
		<h1>Hot Questions</h1>
		<a href="/hot.html">New Questions</a>
	</div>
	<div class="col-9 pt-4">
		{% for question in questions %}
			<article class="card mb-3 w-100">
				<div class="row g-0">
					<div class="col-3 p-2">
						<div class="border w-100 mb-3" style="height: 100px">
							<img
									src="../static/img//avatar.jpg"
									class="img-fluid rounded-start"
									alt="avatar"
									style="width:100%; height: 100%"
							/>
						</div>
						<div class="input-group flex-nowrap">
							<input type="number" value="5" class="form-control mx-5 border-2"/>
						</div>
					</div>
					<div class="col">
						<div class="card-body">
							<h5 class="card-title">
								<a href="/question.html">{{ question.title }}?</a>
							</h5>
							<p class="card-text">
								{{ question.text }}
							</p>
							<div class="row">
								<a class="col-4" href="/question.html">answers (3)</a>
								<div class="col-8">
									<span>Tags</span>
									<a href="/tag.html">black-jack</a>
									<a href="/tag.html">bender</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		{% endfor %}
		<nav aria-label="...">
			<ul class="pagination">
				<li class="page-item disabled">
					<a class="page-link">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active" aria-current="page">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
{% endblock %}
