{% extends "layouts/base.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
	<div class="d-flex gap-3 mb-3 align-items-center">
		<h1>Log In</h1>
		<h3><a href="{% url "signup" %}">Sign Up</a></h3>
	</div>
	<div class="col-9 pt-4">
		<div class="col-8">
			<form method="post">
				{% csrf_token %}
				{% bootstrap_form form %}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

	</div>

{% endblock %}

{% block main_classes %}
	container-fluid container-lg mt-5
{% endblock %}
